<!-- <input type="text" [(ngModel)]="name" >
<button  (click)="restart()" >Restart</button> -->


<!-- <app-add-list></app-add-list>
<app-life-cycle-hooks></app-life-cycle-hooks> -->


<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- //Input and Output Decorators -->

<h1>Angular All Concept Practices</h1>



<!-- <h1>Add Cutomers</h1>
<app-customer-add (customersAdded)="getCustomers($event)"></app-customer-add>

<h1>View Customers</h1>
<app-customer-view [customers]="customers"></app-customer-view> -->


<h1>Add Customers Using The Services</h1>
<app-student-add></app-student-add>


<h1>View Customers</h1>
<app-student-view></app-student-view>

<h1>Employee Name</h1>
<app-emoployee></app-emoployee>


